
<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body> 
    <main class="table">
        <img src="images/SESS - Copy.png" alt="">
        
        <section class="table__header">
            <h1>Bridge Construction Rankings</h1>
            
        </section>

        {{#if usercount}}
            <section class="top3">
                <div class="top_rank">
                    <span class="rank_num">{{rankingList.[1].rank}}</span>
                    <img src="images/{{rankingList.[1].profileIcon}}" alt="">
                    <p>{{rankingList.[1].name}}</p>
                </div>

                <div class="top_rank" id="firstPos" >
                    <span class="rank_num" id="firstPos_text">{{rankingList.[0].rank}}</span>
                    <img src="images/{{rankingList.[0].profileIcon}}" alt="">
                    <p>{{rankingList.[0].name}}</p>
                </div>

                <div class="top_rank">
                    <span class="rank_num">{{rankingList.[2].rank}}</span>
                    <img src="images/{{rankingList.[2].profileIcon}}" alt="">
                    <p>{{rankingList.[2].name}}</p>
                </div>
            </section>
        {{/if}}

        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Bridge Length</th>
                        <th>Weight Held</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rankingList}}
                    <tr>
                        <td> {{this.rank}} </td>
                        <td> <img src="images/{{this.profileIcon}}" alt="">{{this.name}}</td>
                        <td>{{this.brgLen}}</td>
                        <td>{{this.brgWeight}}</td>
                    </tr>
                    {{/each}}

                    <script>
                    setInterval(function() {
                    location.reload();
                    }, 300000);
                </script>
                </tbody>
            </table>
                
        </section>
    </main>
</body>

</html>